.Home{
    display: flex;
    width: 100%;
    height: max-content;
}
.Topnav{
    height: 80px;
    background-color: #E8E8E9;
}
#topnav{
    height: inherit;
}
#topnav .col-7{
    width: 100%;
    display: flex;
}
#topnav .col-7 .col-12{
    text-align: center;
    margin: auto;
    display: flex;
    margin-left: 5%;
}
#power button{
    cursor: pointer;
}
#pagetitle{
    color: #606C80;
    font-weight: bold;
    font-family: inter;
    font-size: 17px;
    text-align: center;
    padding-right: 20px;
}
@media screen and (min-width: 800px) and (max-width: 2000px) {
    #pagetitle{
        font-size: 17px;
    }
}
#topnav .col-5{
    width: 100%;
    display: flex;
    margin-top: 20px;
    justify-content: end;
    padding-right: 25px;
}
#profile{
    display: flex;
    padding-right: 20px;
}
#topnav{
    display: flex;
}
#prosrch{
    margin-right: 50px;
}
#proicon{
    display: flex;
}
#proimg{
    border: 2px solid black;
    border-radius: 20px;
    width: 35px;
    height: 35px;
}
#userid{
    display: grid;
    margin-left: 20px;
    font-size: 15px;
    font-weight: bolder;
}
#usertitle{
    color: #294566;
}
.Home .col-3{
    border-right: 0px;
}
#userrole{
    color: #00BC29;
}
.Home #usertrans .row{
    margin-left: 2%;
    margin-right: 2%;
}